[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bmggum"]
	path = bmggum
	url = https://github.com/naidantu/bmggum
[submodule "fcirt"]
	path = fcirt
	url = https://github.com/naidantu/fcirt
